<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <title>Toys for Boys</title>
    <link rel="stylesheet" th:href="@{/css/toysforboys.css}">
</head>
<body>
<h1>Unshipped Orders</h1>

<div class="failedorder" th:if="${fOrders}">
    <h3>Shipping failed for order(s)
        <span th:each="forder:${failedOrders}" th:text="|${forder.id}, |"></span>
        not enough stock
    </h3>
</div>

<form th:object="${orderFormList}" method="post" th:action="@{/orders/ship}">
    <button>Set as shipped</button>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Ordered</th>
            <th>Required</th>
            <th>Customer</th>
            <th>Comments</th>
            <th>Status</th>
            <th>Ship</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="orderform:${orderFormList.formList}">
            <td style="text-align: right">
                <a th:text="${orderform.orderId}" th:href="@{/order/{id}(id=${orderform.orderId})}">
                </a>
                <input type="hidden" th:name="${orderform.orderId}" th:value="${orderform.orderId}">
            </td>
            <td style="text-align: right; width: 5em" th:text="${{orderform.ordered}}">
                <input type="hidden" th:field="${orderform.ordered}">
            </td>
            <td style="text-align: right; width: 5em" th:text="${{orderform.required}}">
                <input type="hidden" th:field="${orderform.required}">
            </td>
            <td th:text="${orderform.customerName}">
                <input type="hidden" th:field="${orderform.customerName}">
            </td>
            <td style="width: 20em" th:text="${orderform.comments}">
                <input type="hidden" th:field="${orderform.comments}">
            </td>
            <td>
                <img th:src="@{/images/{file}.png(file=${orderform.status})}" alt="I">
                <span th:text="${orderform.status}">
                    <input type="hidden" th:field="${orderform.status}">
                </span>
            </td>
            <td>
                <a th:if="${orderform.ship}" th:href="@{/order/uncheck/{id}(id=${orderform.orderId})}">
                    <input type="checkbox" checked>
                </a>
                <a th:if="not ${orderform.ship}" th:href="@{/order/check/{id}(id=${orderform.orderId})}">
                    <input type="checkbox" >
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</form>

</body>
</html>