<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <title>Toys for Boys</title>
    <link rel="stylesheet" th:href="@{/css/toysforboys.css}">
</head>
<body>
<h1 th:text="|Order ${orderinfo.orderid}|"></h1>

<div class="orderdata">
    <label>Ordered:</label>
    <span th:text="${{orderinfo.ordered}}"></span>
    <label>Required:</label>
    <span th:text="${{orderinfo.required}}"></span>
    <label>Customer:</label>
    <span th:text="${orderinfo.customerName}"></span>
    <br>
    <span th:text="${orderinfo.customerStreet}"></span>
    <br>
    <span th:text="${orderinfo.customerCityState}"></span>
    <br>
    <span th:text="${orderinfo.customerCountry}"></span>
    <label>Comments:</label>
    <span th:text="${orderinfo.comments}"></span>
    <label>Details:</label>

    <table class="product">
        <thead>
        <tr>
            <th>Product</th>
            <th>Price each</th>
            <th>Quantity</th>
            <th>Value</th>
            <th>Deliverable</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="orderdetail:${orderinfo.formList}" th:object="${orderdetail}">
            <td th:text="*{productname}"></td>
            <td th:text="*{{priceEach}}"></td>
            <td th:text="*{quantity}"></td>
            <td style="width: 5em" th:text="*{{value}}"></td>
            <td class="check" th:if="*{deliverable}">&check;</td>
            <td class="cross" th:if="not *{deliverable}">&cross;</td>
        </tr>
        </tbody>
    </table>
    <label>Value:</label>
    <span th:text="${{orderinfo.totalValue}}"></span>
</div>

</body>
</html>